---
layout: page
collection: announcements
data: feed
title: "News and Updates"
description: >
  Stay informed with the latest information on the campus recovery.
order: 1
sidebar: true
left_col: true
front:
  bg: "#b4436cff"
  color: "#fff"
  icon: "info-6.svg"
read_more: https://news.ucsc.edu/2020/covid19-messages.html
read_more_text: Read more updates
health_center: https://healthcenter.ucsc.edu/services/covid-19/covid-updates.html?utm_source=ucsc-recovery
health_center_text: Please also see COVID-19 updates from the Student Health Center
---
{% if page.health_center %}
<p style="text-align:right; font-weight:700; font-style:italic"><a href="{{ page.health_center }}">{{ page.health_center_text }}</a></p>
{% endif %}
{%- if site.posts.size > 0 -%}
<ul class="post-list">
 {%- for post in site.posts -%}
 <li class="post-list-item">
 <h2>
    <a class="post-link" href="{{ post.link }}">
      {{ post.title | escape }}



   </a>
  </h2>
  <span class="post-meta">From: <span itemprop="author"><a href="mailto:{{post.author_email}}">{{post.author}}</a></span>, {{post.date | date: '%B %d, %Y' }}</span>
  </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if page.read_more %}
<a href="{{ page.read_more }}" class="pill">{{ page.read_more_text }}</a>
{% endif %}

