.hero-area .text h2,
.hero-area .text p {
    margin: .2em 0;
    color: rgba(7, 78, 132, 1.00);
}

#sprflt {
    .main-content,
    .sidebar {
        float: none;
        margin: 0;
        width: 100%;
    }
}

.post {
    max-width: 48em;
}

.post-list {
    list-style-type: none;
    margin: 0;
    .post-list-item {
        h2 {
            @include relative-font-size (1.25);
        }
        margin: 0 0 $spacing-unit 0;
    }
    .post-meta {
        @include relative-font-size(0.875);
        color: $grey-color;
    }
}

@media screen and (min-width: 48em) {
    .hero-area.layout-left {
        width: 100%;
        max-width: 50%;
        margin: 2% 0;
    }
    .hero-area.layout-left {
        left: 0;
    }
    .color-gold {
        background-color: #f1af13;
    }
    .hero-area {
        width: 100%;
        bottom: 0;
        z-index: 1;
        position: relative;
        .text {
            position: absolute;
            bottom: 2em;
            left: 0;
            background-color: rgba(239, 174, 46, 1);
            padding: 1em 2em;
            max-width: 26em;
            @include relative-font-size (1.1);
            h2,
            p {
                color: rgba(7, 71, 138, 1.00);
                margin: 0 0 .25em 0;
            }
            h2 {
                font-weight: 600;
            }
        }
    }
}

.main-navigation .current,
.main-navigation .current:focus,
.main-navigation .current:hover,
.main-navigation .current:active {
    text-decoration: none;
    border-bottom: 2px solid #CDECFF !important;
    color: #000000 !important;
}

a:focus-visible {
    color: #111111 !important;
    background-color: #ffff00 !important;
    border: none !important;
    outline: 1px dotted #111111;
    text-decoration: none !important;
}

.separate .inner {
    min-height: auto;
}

#noflt .main-content {
    max-width: 42em;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#main {
    flex-grow: 1;
}

.main-content> :first-child {
    margin-top: 0;
    padding-top: 0;
}

@media screen and (min-width: 48em) {
    .three.separate.flex {
        display: flex;
        justify-content: space-between;
        .wrap {
            flex-basis: 48%;
            float: none;
            width: auto;
        }
    }
    .gsc-control-cse {
        padding: 0 !important;
    }
    #sprflt {
        flex-direction: row-reverse;
    }
    #sprflt .main-content {
        width: 75%;
        margin-left: 1%;
    }
    #sprflt .sidebar {
        width: 24%;
    }
    .quote-block .inner {
        blockquote {
            text-transform: none;
            @include relative-font-size(1);
            font-weight: 300;
            border: 0;
            padding: 0 1em;
        }
        span {
            font-weight: 400;
            display: block;
            text-align: right;
        }
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            background-color: red;
        }
    }
}

@keyframes fadeIt {
    0% {
        background-color: #FFFFFF;
    }
    10% {
        background-color: #ffff8f;
    }
    100% {
        background-color: #FFFFFF;
    }
}

:target {
    animation: fadeIt 3s ease-in-out;
}

.cp-evc-search-advisory-committee table tr td:nth-child(odd) {
    width: 17vw;
}

.announcements ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}

.announcements li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: .5em 0 1em 0;
    span {
        flex: 0 1 16ch;
        padding-right: 1em;
    }
    a {
        flex: 3 0 50ch;
    }
}

.grid-container {
    @include relative-font-size(1);
    padding: 0;
    display: grid;
    grid-gap: .5em;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        a {
            padding: 1em 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 6em;
            text-align: left;
            color: #fff;
            line-height: 1.28;
            height: 100%;
            .block-header {
                color: #fff;
            }
            .block {
                width: 100%;
            }
            .inner {
                line-height: 1.15;
                @include relative-font-size(0.9);
            }
            svg {
                align-self: center;
                margin: 1em;
                fill: cornsilk;
                width: auto;
                height: 68px;
                display: inline-block;
            }
        }
        a:focus,
        a:hover,
        a:active {
            text-decoration: none;
            color: #00458c !important;
            background-color: #efefef !important;
            transition: all .35s;
            h3 {
                color: #00458c !important;
            }
            svg {
                fill: #00458c;
            }
        }
        h3 {
            margin: 0;
            @include relative-font-size(1.2);
            text-align: center;
            width: 100%;
        }
    }
}

.return-grid-container {
    @include relative-font-size(1);
    padding: 0;
    display: grid;
    grid-gap: .5em;
    li {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        a {
            padding: 1em 1.5em;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 6em;
            text-align: left;
            color: #fff;
            line-height: 1.28;
            height: 100%;
            .block-header {
                color: #fff;
            }
            .block {
                width: 100%;
            }
            .inner {
                line-height: 1.15;
                @include relative-font-size(0.9);
            }
            svg {
                align-self: center;
                margin: 1em;
                fill: cornsilk;
                width: auto;
                height: 68px;
                display: inline-block;
            }
        }
        a:focus,
        a:hover,
        a:active {
            text-decoration: none;
            color: #00458c !important;
            background-color: #efefef !important;
            transition: all .35s;
            h3 {
                color: #00458c !important;
            }
            svg {
                fill: #00458c;
            }
        }
        h3 {
            margin: 0;
            @include relative-font-size(1.2);
            text-align: left;
            width: 100%;
        }
    }
}

@media screen and (min-width: 478px) {
    .grid-container {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

@media screen and (min-width: 680px) {
    .grid-container {
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto;
        grid-auto-flow: row;
    }
}

.navlist {
    margin: 1em 0;
    list-style: none;
    li {
        padding: 0;
        margin: 0;
    }
    a {
        display: block;
        padding: .5em .25em;
        margin: .25em 0;
    }
    .current {
        cursor: initial;
        text-decoration: none;
        background-color: #CDECFF99;
    }
}

.living-in-santa-cruz tr td:nth-child(1) {
    width: 22%;
}

details {
    margin: .5em 0;
    padding: .5em;
    summary {
        font-weight: 600;
        margin: 0 0 1em 0;
    }
    &[open] {
        background-color: #c7ff003d;
    }
}

.sidebar {
    li ul {
        margin: 0 0 0 1.8em;
        li a {
            padding: 0;
            @include relative-font-size(.88);
        }
    }
}

th strong {
    background-color: yellow;
}


/*
 *
 * Breadcrumbs
 *
 */

.breadcrumbs {
    width: 100%;
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
}

.reporting-covid {
    /**
2020-04-17 COVID-19 STYLES
ASK ROB BEFORE DELETING
**/
    table {
        border: none;
        margin: 1em 0 0.85em 0;
    }
    caption {
        caption-side: top;
        color: #333;
        font-size: 1.25em;
        margin: 0.15em 0 0.5em;
        font-weight: 400;
    }
    th,
    td {
        border: none;
        border-bottom: 1px solid #b6b6b6;
        padding: 0.45em 2em 0.25em 0;
        vertical-align: bottom;
    }
    th {
        width: 80%;
        vertical-align: bottom;
        font-weight: 500;
        padding-left: 0.65em;
    }
    .total-row {
        background-color: aliceblue;
    }
    .footnotes {
        margin: 0 0 3em;
        padding: 0;
        font-size: 0.9em;
    }
    .footnotes li:target,
    .footnotes li:active {
        background-color: yellow;
    }
}